<span id="notification_bell_count"
      class="<%= count > 0 ? '' : 'hidden' %>
             absolute -top-0.5 -right-0.5 inline-flex items-center justify-center
             h-4 w-4 text-xs font-bold text-white bg-red-500 rounded-full">
  <%= count %>
</span>
